.header {
  padding: 12px 0;
  background-color: #000000cc;
  color: #f5f5f7;
  overflow: hidden;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-weight: 600;
  font-size: 25px;
  max-width: 110px;
}

@media screen and (max-width: 1024px) {
  .header-menu {
    display: none;
  }
}
