.models {
  margin-top: 100px;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 100px;
}

.models-inner {
  display: flex;
}

.model-item {
  margin: 0 15px;
}

.models-title {
  text-align: left;
}
