.configurator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 25px;
}

.configurator-select {
  display: flex;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .configurator-select {
    margin-bottom: 20px;
  }
}
